@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .text-edge-outline {
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.3);
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background: #6f6f6f;
    border: 4px solid transparent;
    background-clip: content-box;
  }
  ::-webkit-scrollbar {
    width: 14px;
  }
}
